<!DOCTYPE html>
<html>
<body>
<h1>Login</h1>
<form action="/login" method="post">
<label for="username_field">Username:</label>
<input type="text" id="username_field" name="username">
<br>
<label for="password_field">Password:</label>
<input type="password" id="password_field" name="password">
<br>
<input type="submit" value="Login">
</form>
</body>
</html>
